.reports {
  width: 100%;
  height: 100% !important;
}
.reports_cards {
  width: 100%;
  height: 100% !important;
}
.favourites {
  height: 98% !important;
  padding: 5px 0px 0px 15px;
  margin-top: -1%;
  box-shadow: 2px 2px 12px 0px gray;
}
.favorites_cards {
  padding: 2%;
}
.filtered_cards {
  padding: 2%;
}
.filtered_reports {
  box-shadow: 2px 2px 12px 0px gray;
  padding: 3%;
}
